* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  background: #D1D1D1;
}

h1 {
  font-size: 2.0vmax;
}

.clear { clear: both; }

#header {
  background: #7188A0;
  padding: 5px 0 1px 5px;
}

#content {
}

#main-content {
  margin-top: 10px;
  margin-right: 0.5vmin;
  margin-left: 0.5vmin;
  width: 50%;
  word-wrap: break-word;
  float: left;
  max-height: 800px;
  overflow-y: auto;
}

#success-flashing {
  padding: 10px;
  color: #0ba028;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
}

#error-flashing {
  padding: 10px;
  color: #a0000d;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
}

#sidebar {
  width: 17.3vw;
  margin-top: 5px;
  margin-right: 0.5vmin;
  float: left;
  padding-left: 2%;
}

.sidebar-list {
  font-size: 2.3em;
  margin-top: 15px;
}

.sidebar-list ul {
  list-style-type: none;
}

.add-servings-form {
  display: inline;
  font-size: 14px;
}

.ingredients-td {
  padding: 10px;
  font-size: 14px;
}

.directions {
  font-size: 14px;
  width: 600px;
  height: 300px;
}

.add-grocery-list-form {
  display: block;
  font-size: 14px;
}

.create-recipe-form {
  display: block;
  font-size: 14px;
}

.create-grocery-list-form {
  display: block;
  font-size: 14px;
}

.ingredient-table {
  border-collapse: collapse;
  padding:5px;
}

.ingredient-table-errors {
  border-collapse: collapse;
  padding:5px;
  color: red;
}

.next-index-field {
  display: none;
}

ul.shopping-list {
  margin-left: 0px;
  font-size: 14px;
  list-style-type: none;
}

.shopping-list ul {
  margin-left: 20px;
  font-size: 14px;
  list-style-type: none;
}

.shopping-list ul ul {
  margin-left: 40px;
  font-size: 14px;
  list-style-type: none;
}