@(recipeForm: Form[Recipe])(implicit requestContextData: RequestContextData, flash: Flash)

@import helper.{form, inputText}

<p id="next-recipe-ingredient-index" class="next-index-field">@recipeForm("recipeIngredients").indexes.length</p>
<p id="next-food-ingredient-index" class="next-index-field">@recipeForm("foodIngredients").indexes.length</p>
<p id="next-tag-index" class="next-index-field">@recipeForm("tags").indexes.length</p>

@pageLayout {
  @form(action = routes.RecipeController.updateFormRecipe(), 'class -> "create-recipe-form") {
    <p>@recipeForm("name").value.getOrElse("")</p>
    <input type="text" name="name" value="@recipeForm("name")" hidden="true">
    @inputText(recipeForm("name"), '_label -> "Recipe Name")
    @recipeDataInputs(recipeForm)
    <input type="submit" value="Update Recipe">
  }
}