@(groceryLists: List[GroceryList])(implicit navBarData: NavBarData, flash: Flash)

@groceryListWrapper("Grocery Lists") {
  <div class="panel-group" id="accordion">
  @for(i <- 0 until groceryLists.length) {
    @defining(groceryLists.drop(i).head) { groceryList =>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse@i">
            @groceryList.name
            </a>
          </h4>
        </div>
        <div id="collapse@i" class="panel-collapse collapse">
          <div class="panel-body">
            <div>
              <h5>Recipes</h5>
              <ul>
              @for(recipes <- groceryList.recipeServings) {
                <li>@recipes.name</li>
              }
              </ul>
              <h5>A La Carte</h5>
              <ul>
              @for(misc <- groceryList.miscellaneous) {
                <li>@misc.food</li>
              }
              </ul>
            </div>
          </div>
        </div>
      </div>
    }
  }
  </div>
}