@(groceryLists: List[GroceryList])(implicit requestContextData: RequestContextData, flash: Flash)

@pageLayout {
  <div class="panel-group" id="accordion">
  @for(i <- 0 until groceryLists.length) {
    @defining(groceryLists.drop(i).head) { groceryList =>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse@i">
            @groceryList.name
            </a>
          </h4>
        </div>
        <div id="collapse@i" class="panel-collapse collapse">
          @groceryListData(groceryList, viewUrl = Some(routes.GroceryListController.viewGroceryList(groceryList.name).url), editUrl = Some(routes.GroceryListController.editGroceryList(groceryList.name).url), deleteUrl = None)//Some(routes.GroceryListController.deleteGroceryList(groceryList.name).url))
        </div>
      </div>
    }
  }
  </div>
}