@(groceryList: GroceryList, viewUrl: Option[String] = None, editUrl: Option[String] = None, deleteUrl: Option[String] = None)(implicit requestContextData: RequestContextData, flash: Flash)

<div class="panel-body">
@if(viewUrl.isDefined) {
  <h4><a href="@viewUrl.get">View</a></h4>
  <br>
}
@if(editUrl.isDefined) {
  <h4><a href="@editUrl.get">Edit</a></h4>
  <br>
}
@if(deleteUrl.isDefined) {
  <h4><a href="@deleteUrl.get" class="delete-confirmation">Delete</a></h4>
  <br>
}
  <h5>Recipes</h5>
  <table>
  @for(recipeServing <- groceryList.recipeServings) {
    <tr>
      <td class="ingredients-td">@recipeServing.name</td>
      <td class="ingredients-td">@recipeServing.desiredServings Servings</td>
    </tr>
  }
  </table>
  <br>
  <h5>Standalone Ingredients</h5>
  <table>
  @for(ingredient <- groceryList.miscellaneous) {
    <tr>
      <td class="ingredients-td">@ingredient.food</td>
      <td class="ingredients-td">@ingredient.quantity</td>
      <td class="ingredients-td">@ingredient.unit.getOrElse("")</td>
    </tr>
  }
  </table>
</div>