@(title: String)(content: Html)(implicit navBarData: NavBarData, flash: Flash)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

    <title>@title</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">

    <script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/groceryList.js")" type="text/javascript"></script>
  </head>
  <style>
  th, td {
  padding : 5 px ;
  color : #94a3a9 ;
  }
  </style>
  <body>
      <!-- top nav -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <div class="nav navbar-nav navbar-left">
            <table>
              <tr>
                <td>Grocery Lists</td>
                <td><a href="@navBarData.viewGroceryListsUrl">View All</a></td>
                <td><a href="@navBarData.newGroceryListUrl">Create</a></td>
              </tr>
              <tr>
                <td>Recipes</td>
                <td><a href="@navBarData.viewRecipesUrl">View All</a></td>
                <td>TODO</td>
              </tr>
            </table>
          </div>

          <div class="nav navbar-nav" style="padding-left : 15 px">
            <table>
              <tr>
                <td>
                @if(navBarData.activeGroceryListName.isDefined) {
                  <a href="@navBarData.activeGroceryListUrl.get">View @navBarData.activeGroceryListName.get</a>
                }
                </td>
              </tr>
              <tr>
                <td>
                  <div class="dropdown">
                    <a data-toggle="dropdown" href="#">Change Active List</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    @for(glNameUrl <- navBarData.groceryListNameUrlPairs) {
                      <li>
                        <a href="@glNameUrl._2">@glNameUrl._1</a>
                      </li>
                    }
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="pagewidth">
      <div id="header">
        @if(flash.get("result").isDefined) {
          <h3>@flash.get("result").get</h3>
        }
          <!-- other stuff that belongs in top box here -->
      </div>
      <div id="wrapper" class="clearfix">
        <div id="maincol">
          @content
            <!-- other main column stuff here -->
        </div>
      </div>
    </div>
  </body>
</html>
