@(recipe: Recipe, viewUrl: Option[String] = None, editUrl: Option[String] = None, deleteUrl: Option[String] = None)(implicit requestContextData: RequestContextData, flash: Flash)

@import helper._

<div class="panel-body">
@if(viewUrl.isDefined) {
  <h4><a href="@viewUrl.get">View</a></h4>
  <br>
}
@if(editUrl.isDefined) {
  <h4><a href="@editUrl.get">Edit</a></h4>
  <br>
}
@if(deleteUrl.isDefined) {
  <h4><a href="@deleteUrl.get" class="delete-confirmation">Delete</a></h4>
  <br>
}
@if(requestContextData.activeGroceryList.isDefined) {
  <h5>Makes @recipe.servings Servings</h5>
  <br>
  <h4>Add Desired Servings to @requestContextData.activeGroceryList.get.groceryList.name</h4>
  <br>
  @form(action = routes.GroceryListController.addRecipeServings(requestContextData.activeGroceryList.get.groceryList.name), 'class -> "add-servings-form") {
    <input type="hidden" name="redirectUrl" value="@requestContextData.navigationLinks.lastUrl">
    <input type="hidden" name="activeGroceryList" value="@requestContextData.activeGroceryList.get.groceryList.name">
    <input type="hidden" name="recipeServing.name" value="@recipe.name">
    <input type="text" name="recipeServing.desiredServings" value="0.0">
    <input type="submit" value="Add">
  }
  <br>
}
  <h4>Included Recipes</h4>
  <br>
  <table>
  @for(includedRecipe <- recipe.recipeIngredients) {
    <tr>
      <td class="ingredients-td">@includedRecipe.name</td>
      <td class="ingredients-td">@includedRecipe.desiredServings Servings</td>
    </tr>
  }
  </table>
  <br>
  <h4>Standalone Ingredients</h4>
  <br>
  <table>
  @for(ingredient <- recipe.foodIngredients) {
    <tr>
      <td class="ingredients-td">@ingredient.food</td>
      <td class="ingredients-td">@ingredient.quantity</td>
      <td class="ingredients-td">@ingredient.unit.getOrElse("")</td>
    </tr>
  }
  </table>
  <br>
  <h4>Directions</h4>
  <br>
  <p class="directions">@recipe.directions.getOrElse("")</p>
</div>