@(recipesWithForm: List[(Recipe, Form[RecipeServing])])(implicit navBarData: NavBarData, flash: Flash)

@import helper._

@pageLayout {
  <div class="panel-group" id="accordion">
  @for(i <- 0 until recipesWithForm.length) {
    @defining(recipesWithForm.drop(i).head) { case (recipe, recipeServingForm) =>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse@i">
              @recipe.name
            </a>
          </h4>
        </div>
        <div id="collapse@i" class="panel-collapse collapse">
          <div class="panel-body">
          @if(navBarData.activeGroceryListName.isDefined) {
            <h5>Add Servings to @navBarData.activeGroceryListName.get</h5>
            <br>
            @form(action = routes.GroceryListController.addRecipeServings(navBarData.activeGroceryListName.get), 'class -> "add-servings-form") {
              <input type="hidden" value="@recipeServingForm.get.name">
              <label>Servings</label>
              <input type="text" value="0.0">
              <input type="submit" value="Add to @navBarData.activeGroceryListName.get">
            }
          }
            <h5>Makes @recipe.servings Servings</h5>
            <br>
            <h5>Included Recipes</h5>
            <br>
            <table>
            @for(includedRecipe <- recipe.recipeIngredients) {
              <tr>
                <td class="ingredients-td">@includedRecipe.name</td>
                <td class="ingredients-td">@includedRecipe.desiredServings Servings</td>
              </tr>
            }
            </table>
            <br>
            <h5>Standalone Ingredients</h5>
            <br>
            <table>
            @for(ingredient <- recipe.foodIngredients) {
              <tr>
                <td class="ingredients-td">@ingredient.food</td>
                <td class="ingredients-td">@ingredient.quantity</td>
                <td class="ingredients-td">@ingredient.unit.getOrElse("")</td>
              </tr>
            }
            </table>
            <br>
            <h5>Directions</h5>
            <br>
            <p>@recipe.directions.getOrElse("")</p>
          </div>
        </div>
      </div>
    }
  }
  </div>
}