@(recipes: List[Recipe])(implicit navBarData: NavBarData, flash: Flash)

@groceryListWrapper("Recipes") {
    <div id="accordion-resizer" class="ui-widget-content">
        <div id="accordion">
            @for(recipe <- recipes) {
                <h3>@recipe.name</h3>
                <div>
                    <ul>
                        <li>@recipe.servings servings</li>
                        <li>@recipe.directions.getOrElse("")</li>
                    </ul>
                </div>
            }
        </div>
    </div>
}